{% extends "base.html" %}
{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Living abroad is quite an adventure. Expats, immigrants, globetrotters, digital nomads...whatever the 
                    definition we choose, one thing is certain: there will be lots of challenges. Other than being apart 
                    from beloved ones and starting a brand new life from scratch, one thing pervades every aspect of it - language.
                    Expressing ourselves precisely, as we would in our mother tongue, can be hard or even impossible in some cases. 
                    But why not take some fun and learn from it?</p>
                <p>Portuglish is a building glossary where you can search words and expressions by category, situation or sentiment. 
                    It was born thinking of Brazilians living in Ireland (a growing community of about 13000+ people), but is also 
                    valuable to other Portuguese speakers in English-speaking countries and English students willing to learn 
                    more about day-to-day language.</p>
                <p>As the huge country Brazil is, with so many different ways of saying the same thing, we value diversity and 
                    encourage people from different backgrounds and parts of the country to give their contributions. 
                    But remember: words can do harm, so to keep a safe environment for everyone, every entry will be moderated.
                </p>
                <p>Thank you for taking part in this and helping break down language barriers!</p>
            </div>
        </div>
    </div>
{% endblock %}