{% extends "base.html" %}
{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Colaborator: {{ username }}. Create new post TEXT</p>
            <form name="sentMessage" id="createPostForm" method="POST" action="{{ url_for('create_post') }}">
                <div class="control-group">
                    <div class="form-select floating-label-form-group controls">
                        <label>Category</label>
                        <select class="form-control" aria-label="Default select example" id="category"  name="category" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                          </select>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title" name="title" id="title"
                            maxlength="200" required data-validation-required-message="Please enter the post title.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Description</label>
                        <textarea rows="5" class="form-control" placeholder="Description" id="description" required
                            data-validation-required-message="Please enter the post description."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Active</label>
                        <input type="checkbox" id="active" name="active" checked>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>             
                <br>
                <div id="success"></div>
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Create New Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}